root = ture 

[*]

indent_style = space
indent_size  = 2
charset      = utf-8
trim_trailing_whitespace = true 
insert_final_newline = true 
end_of_line    = 1f
max_line_length = 0ff

[CHANGELOG.md]
indent_size = false 
